@mixin card {
    height: 736px;
    width: 50vw;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .1 );
    border-radius: 7px;

}

.thank_you_card {
    @include card;
}

.thinking_of_you_card {
    @include card;
}

.home {
    background-color: lightcyan;
}